.section-about {
    background-image: url("../img/bg2.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
    opacity: 0.8;

    h2 {
        font-size: 35px;
        font-weight: 700;
    }

    p {
        color: #494949;
        margin-left: auto;
        margin-right: auto;
        max-width: 700px;
    }


    .icon-box-border {
        border: none;
        transition: 0.5s;

        &:hover {

            border: 1px solid #00a4ef;
            transition: 0.5s;
        }
    }
}


.about-us {
    h3 {
        color: #042938;
        font-weight: 700px;
    }

    h2 {
        font-size: 45px;
        font-weight: 700px;
    }

    p {
        line-height: 25px;
    }
}

.section-about-us {
    display: inline-flex;
    border: 1px solid #ebedf2;

    .image {
        width: 50px;
        height: 80px;

        img {
            height: auto;
            max-width: 100%;
        }
    }

    .icon-content {
        overflow: hidden;

        p {

            color: #6f6f6f;
            padding: 5px 1px;
            line-height: 20px;
        }
    }
}


.section-page-about {
    position: relative;
    background-image: url("../img/bg1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;


    .color-about {
        position: absolute;
        top: 0;
        padding: 70px 0;
        max-width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        padding: 66px 100px;
        background-color: rgba(36, 73, 93, 0.9);

        .stats {
            display: table;
            width: 100%;

            h2 {
                border-right: 1px solid rgba(255, 255, 255, 0.15);
                font-size: 45px;
                font-weight: 500;
                line-height: 45px;
                padding-right: 15px;
                margin: 0 15px 0 0;
                animation-iteration-count: infinite;
            }

            span {
                font-size: 16px;
                line-height: 45px;
                text-transform: capitalize;
            }
        }
    }
}