.appoint-section {
    background-image: url("../img/bg3.png");

    .appointform {
        .select-appoint {
            border: none;
            border-bottom: 1px solid grey;
            margin: 12px 0px;
            box-shadow: none;
            outline: none;

            option {
                background: #fff;
                color: #333;

                &:hover {
                    color: #f2f2f4;
                }
            }
        }

        textarea {
            border-bottom: 2px solid white;
            color: #fff;
            border-top: none;
            border-color: rgba(255, 255, 255, 0.8);
            height: 139px;
            outline: none;
            border-left: none;
            border-right: none;
            box-shadow: none;

        }

        button {
            padding: 12px 40px;
            outline: none;
            color: #e7e7e7;
            border: 1px solid #fff;
            font-size: 16px;
            font-weight: 600;
            border-radius: 3px;
            background: none;

            &:hover {
                cursor: pointer;
                color: #666666;
                background-color: #F4F4F4;
            }
        }


    }
}

