.blog-area{
    .blog_info{
        padding: 30px 0;
        text-align: right;
        .blog_meta {
            padding: 30px 0;
            li {
                display: inline-block;
                a {
                    color: #777777;
                    vertical-align: middle;
                    padding-bottom: 12px;
                    display: inline-block;
                    &:hover{
                        transition: 0.5s;
                        color: #007bff;
                    }
        
                    i {
                        color: #000000;
                        font-size: 16px;
                        font-weight: 600;
                        padding-left: 15px;
                        line-height: 20px;
                        vertical-align: middle;
                    }
                }
            }
        }
        
        .social-links{
            padding: 10px 0;
        
            li {
                display: inline-block;
                margin-bottom: 10px;
        
                a {
                    transition: 0.5s;
                    color: #cccccc;
                    padding: 7px;
                    font-size: 14px;
                    transition: all 0.2s linear;
                    &:hover{
                        transition: 0.5s;
                        color: #000;
                    }
                }
            }
        }
    }

    .blog_details{
        h2{
            transition: 0.5s;
            font-size: 24px;
            line-height: 36px;
            color: #000000;
            font-weight: 600;
            transition: all 0.3s linear;
            &:hover{
                transition: 0.5s;
                color: #007bff;
            }
        }
       
    }

    aside {
        .post_item{
            margin-top: 20px;
            .media-body{
                a{
                    h3{
                        line-height: 20px;
                        color: #000000;
                        font-size: 18px;
                        margin-bottom: 4px;
                        transition: all 0.3s linear;
                    }
                    &:hover{
                        color: #007bff;
                        transition: 0.5s;
                    }
                }
            }
        }

        .sosial-icon{
            a{
                color:#000;
                transition: 0.5s;
                
                &:hover{
                    color: #007bff;
                    transition: 0.5s;
                }
            }
        }
    }

}

    
