.section-contact {
    position: relative;

    .contact-box {
        position: relative;
        border: 1px solid #ebedf2;
        border-radius: 3px;
        padding: 20px;
        width: 100%;
        height: 100%;
         
        .icon{
            width: 80px;
            height: 80px;
            line-height: 80px;
            background-color: #f7f9fb;
            border-radius:50%; 
            a{
                text-decoration: none;
                i{
                    vertical-align: middle;
                }
            }
        }

        .icon-content{
            margin-left: 105px;
            h5{
                color: #232323;
                font-family: "Montserrat",sans-serif;
            }
            p{
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                font-weight: 400;
                color: #6f6f6f;
            }
        }
    }
}


.contact-form{
    .btn{
        width: 100%;
        
    }
}