section {
    overflow: hidden;

    .owl-carousel {
        .owl-nav {
            .owl-prev {
                position: absolute;
                z-index: 4;
                top: 50%;
                left: 20px;
                cursor: pointer;
                font-size: 50px;
                background-color: gray;
                border-radius: 50%;
                width: 60px;
                height: 60px;
                line-height: 60px;
                outline: none;


                span {
                    font-weight: 100;
                    color: #fff;
                    text-align: center;
                    position: relative;
                    bottom: 5px;
                }
            }

            .owl-next {
                position: absolute;
                top: 50%;
                right: 20px;
                cursor: pointer;
                cursor: pointer;
                font-size: 50px;
                background-color: gray;
                border-radius: 50%;
                width: 60px;
                height: 60px;
                line-height: 60px;
                outline: none;

                span {
                    font-weight: 100;
                    color: #fff;
                    text-align: center;
                    position: relative;
                    bottom: 5px;
                }
            }
        }
    }
}

.section-index {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;

    .image {
        width: 350px;
    }

}

.slinder-text {
    position: absolute;
    top: 35%;

    h2 {
        font-size: 50px;
    }

    p {
        width: 50%;
    }


}

.section-slinder {
    position: relative;
    background-attachment: fixed;
    background-image: url("../img/slide1.jpg");
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;

    .Doctor {

        .owl-dots {
            display: inline-block;
            margin-bottom: 40px;

            .owl-dot {

                height: 10px;
                width: 10px;
                border: 1px solid rgba(255, 255, 255, 0.5);
                border-radius: 50%;
                margin: 0px 10px;

                &:hover {
                    background: grey;
                }
            }

            .active {

                border: 2px solid #fff;

                &:hover {
                    background: transparent;
                }
            }
        }



    }

    .image {
        position: relative;
        left: 45%;
        width: 100px;
        height: 100px;
        border: 3px solid #fff;
        border-radius: 50%;

        img {
            width: 100%;
            border-radius: 50%;
            height: 100%;
        }
    }

    .icon {
        position: relative;
        color: #fff;
        border-radius: 50%;
        background: #00a4ef;
        width: 36px;
        line-height: 36px;
        height: 36px;
        text-align: center;
        bottom: 50px;
        font-size: 16px;
        left: 45%;
    }

}


.lasted-blog {
    .Blog {
        position: relative;

        .owl-dots {
            display: inline-block;
            margin-bottom: 40px;

            .owl-dot {
                height: 10px;
                width: 10px;
                border: 1px solid #b0b0b0;
                border-radius: 50%;
                margin: 0px 10px;
                outline: none;

                &:hover {
                    background: grey;
                }
            }

            .active {

                border: 2px solid #00a4ef;

                &:hover {
                    background: transparent;
                }
            }
        }
    }


    .image {
        img {
            overflow: hidden;
            width: 100%;
            height: auto;
            transition: transform 0.4s ease;

            &:hover {
                transform: scale(1.01);
            }
        }


    }



    a {
        font-weight: normal;
    }

    .blog-info {
        padding: 20px;
        border: 1px solid #ebebeb;

        .blog-date {
            position: absolute;
            top: 0px;
            background: #00a4ef;
            display: inline-grid;
            text-transform: uppercase;
            color: white;

            .hr {
                border-bottom: 1px solid #fff;
                width: 60%;
                margin: 3px 7px 0px;
            }

            strong {
                font-size: 10px;
                padding: 10px 5px 5px;
                position: relative;
            }

            span {
                padding: 5px 5px 10px;
                font-size: 16px;
            }
        }

        .blog-auther {
            color: #6f6f6f;
            opacity: 0.8;
            font-weight: 500;
            display: inline-block;
            padding: 0;
            font-size: 13px;

            i {
                margin: 0 5px;
            }

            a {
                color: #6f6f6f;
            }
        }

        .blog-commit {
            color: #6f6f6f;
            opacity: 0.8;
            font-weight: 500;
            display: inline-block;
            padding: 0;
            font-size: 13px;

            i {
                margin: 0 5px;
            }

            a {
                color: #6f6f6f;
            }
        }

    }

    .blog-text {
        p {
            margin: 0;
            line-height: 24px;
        }
    }

    .blog-link {
        a {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            border: 0 none;
            display: inline-block;
            font-weight: 400;
            padding: 3px 5px;
            transition: 0.5s;

            &:hover {
                color: #000;
                transition: 0.5s;
            }
        }
    }

    .ow-post-tags {
        border-top: 2px solid #E9E9E9;
        padding-top: 10px;

        a {
            border: 1px solid #ebebeb;
            padding: 2px 8px 1px;
            color: #777;
            margin: 0 3px;
            display: inline-block;
            text-transform: uppercase;
            font-size: 9px;
            transition: 0.5s;

            &:hover {
                transition: 0.5s;
                color: #0098A6;
                border: 1px solid #0098A6;
            }
        }
    }

}

///TeamDoctors

.section-team {
    .all {
        margin: 0;
        padding: 0px;
        transition: 0.5s;
        margin: 0 0 10px 0;
        .image {

            a {
                img {
                    max-width: 100%;

                }
            }

            ul {
                background-color: #1EA1F3;
                margin-bottom: 0px;
                position: absolute;
                max-width: 100%;
                padding: 20px 0;
                opacity: 0;
                bottom: 0;
                height: 80px;
                transition: 0.5s;

                li {

                    display: inline-block;

                    a {
                        text-decoration: none;

                        i {
                            font-size: 16px;
                            padding: 5px 10px;
                            color: #ffffff;
                            border: 1px solid rgba(255, 255, 255, 0.2);
                            margin: 0px 6px;
                        }
                    }


                }



            }
        }



        .image-text {
            position: absolute;
            z-index: 1;
            width: 100%;
            background-color: #f7f9fb;

            h5 {

                a {
                    text-decoration: none;
                    color: #333333;
                    transition: 0.5s;

                    &:hover {
                        color: #00a4ef;
                        transition: 0.5s;
                    }
                }
            }
        }

        &:hover {
            img {
                filter: grayscale(100%);
                transition: 0.5;
            }

            ul {
                width: 100%;
                transition: 0.5s;
                opacity: 0.3;
                opacity: 1;
                transition: 0.5;

            }

        }
    }

}






@media only screen and (max-width: 994px) {
    .header_list {
        .active_ul {
            position: fixed;
            display: block !important;
            top: 85px;
            right: 0;
            left: 0;
            background: #fff;
            width: 100%;
            display: block;

            li {
                width: 100%;
                display: block;
                float: none;

                a {
                    padding: 0px 15px;
                    border-top: 1px solid #E9E9E9;
                    display: block;
                    font-size: 15px;
                    text-align: left;
                    background-color: transparent;

                    &:hover {
                        text-decoration: none;
                        background-color: grey;
                    }
                }

            }

        }

        .open_ul {
            display: block;

            li {
                display: inline-block;

                a {
                    text-decoration: none;
                    color: #b0b0b0;
                    background-color: transparent;
                    font-size: 15px;
                    padding: 0px 15px;

                    font-family: Regular Arial;
                    display: block;
                    transition: all 0.5s ease-in-out;

                    &:hover {
                        text-decoration: none;
                        color: #00a4ef;
                        background-color: #f0f0f0;
                    }
                }

            }
        }

        .icon-nav {
            display: block;
            position: absolute;
            right: 0px;
            top: 6px;

            .click_btn {
                text-decoration: none;
                outline: none;
                color: #fff;
            }
        }
    }


}