.section-Services-title {
    .image {
        background: #ffffff none repeat scroll 0 0;
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
        padding: 20px;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .services-box {
        &:after {
            bottom: 0px;
            color: rgb(0, 0, 0);
            content: attr(data-name);
            font-size: 180px;
            font-weight: 700;
            left: 20%;
            line-height: 180px;
            opacity: 0.05;
            position: absolute;
            font-family: montserrat;
        }

        h2 {
            color: #042938;
            font-size: 32px;
            line-height: 45px;
            margin-bottom: 25px;
        }

        p {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 24px;
            color: #6f6f6f;
        }

        a {
            text-decoration: none;
            color: #6f6f6f;
            border: 1px solid #6f6f6f;
            border-radius: 15px;
            font-weight: 600;
            text-align: center;
            font-size: 14px;
            padding: 10px 20px;
            transition: 0.5s;

            &:hover {
                color: #fff;
                background: rgb(0, 164, 239);
                border-color: rgb(0, 164, 239);
                transition: 0.5s;
            }
        }
    }
}


.section-Services-icons {
    .icon-box {
        box-shadow: 0 0 20px -1px rgba(0, 0, 0, 0.1);

        .icon-cell {

            img {
                max-width: 100%;
                width: auto;
                height: 50px;
                transition: 0.5s;
            }

        }

        .icon-content {
            .dlab-separator {
                display: inline-block;
                height: 2px;
                width: 80px;
                margin-bottom: 10px;
                position: relative;
                transition: 0.5s;

            }
        }

        &:hover {
            .icon-cell {

                img {
                    transform: scale(1.2);
                    transition: 0.5s;
                }
    
            }
            .icon-content {
                .dlab-separator {
                    transform: scale(1.4);
                    transition: 0.5s;
                }
            }

        }

    }
}