.section-Services-title .image {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.section-Services-title .image img {
  max-width: 100%;
  height: auto;
}
.section-Services-title .services-box:after {
  bottom: 0px;
  color: black;
  content: attr(data-name);
  font-size: 180px;
  font-weight: 700;
  left: 20%;
  line-height: 180px;
  opacity: 0.05;
  position: absolute;
  font-family: montserrat;
}
.section-Services-title .services-box h2 {
  color: #042938;
  font-size: 32px;
  line-height: 45px;
  margin-bottom: 25px;
}
.section-Services-title .services-box p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
  color: #6f6f6f;
}
.section-Services-title .services-box a {
  text-decoration: none;
  color: #6f6f6f;
  border: 1px solid #6f6f6f;
  border-radius: 15px;
  font-weight: 600;
  text-align: center;
  font-size: 14px;
  padding: 10px 20px;
  transition: 0.5s;
}
.section-Services-title .services-box a:hover {
  color: #fff;
  background: #00a4ef;
  border-color: #00a4ef;
  transition: 0.5s;
}

.section-Services-icons .icon-box {
  box-shadow: 0 0 20px -1px rgba(0, 0, 0, 0.1);
}
.section-Services-icons .icon-box .icon-cell img {
  max-width: 100%;
  width: auto;
  height: 50px;
  transition: 0.5s;
}
.section-Services-icons .icon-box .icon-content .dlab-separator {
  display: inline-block;
  height: 2px;
  width: 80px;
  margin-bottom: 10px;
  position: relative;
  transition: 0.5s;
}
.section-Services-icons .icon-box:hover .icon-cell img {
  transform: scale(1.2);
  transition: 0.5s;
}
.section-Services-icons .icon-box:hover .icon-content .dlab-separator {
  transform: scale(1.4);
  transition: 0.5s;
}

.section-about {
  background-image: url("../img/bg2.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  opacity: 0.8;
}
.section-about h2 {
  font-size: 35px;
  font-weight: 700;
}
.section-about p {
  color: #494949;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}
.section-about .icon-box-border {
  border: none;
  transition: 0.5s;
}
.section-about .icon-box-border:hover {
  border: 1px solid #00a4ef;
  transition: 0.5s;
}

.about-us h3 {
  color: #042938;
  font-weight: 700px;
}
.about-us h2 {
  font-size: 45px;
  font-weight: 700px;
}
.about-us p {
  line-height: 25px;
}

.section-about-us {
  display: inline-flex;
  border: 1px solid #ebedf2;
}
.section-about-us .image {
  width: 50px;
  height: 80px;
}
.section-about-us .image img {
  height: auto;
  max-width: 100%;
}
.section-about-us .icon-content {
  overflow: hidden;
}
.section-about-us .icon-content p {
  color: #6f6f6f;
  padding: 5px 1px;
  line-height: 20px;
}

.section-page-about {
  position: relative;
  background-image: url("../img/bg1.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
}
.section-page-about .color-about {
  position: absolute;
  top: 0;
  padding: 70px 0;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 66px 100px;
  background-color: rgba(36, 73, 93, 0.9);
}
.section-page-about .color-about .stats {
  display: table;
  width: 100%;
}
.section-page-about .color-about .stats h2 {
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  padding-right: 15px;
  margin: 0 15px 0 0;
  animation-iteration-count: infinite;
}
.section-page-about .color-about .stats span {
  font-size: 16px;
  line-height: 45px;
  text-transform: capitalize;
}

.appoint-section {
  background-image: url("../img/bg3.png");
}
.appoint-section .appointform .select-appoint {
  border: none;
  border-bottom: 1px solid grey;
  margin: 12px 0px;
  box-shadow: none;
  outline: none;
}
.appoint-section .appointform .select-appoint option {
  background: #fff;
  color: #333;
}
.appoint-section .appointform .select-appoint option:hover {
  color: #f2f2f4;
}
.appoint-section .appointform textarea {
  border-bottom: 2px solid white;
  color: #fff;
  border-top: none;
  border-color: rgba(255, 255, 255, 0.8);
  height: 139px;
  outline: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
}
.appoint-section .appointform button {
  padding: 12px 40px;
  outline: none;
  color: #e7e7e7;
  border: 1px solid #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 3px;
  background: none;
}
.appoint-section .appointform button:hover {
  cursor: pointer;
  color: #666666;
  background-color: #F4F4F4;
}

.section-contact {
  position: relative;
}
.section-contact .contact-box {
  position: relative;
  border: 1px solid #ebedf2;
  border-radius: 3px;
  padding: 20px;
  width: 100%;
  height: 100%;
}
.section-contact .contact-box .icon {
  width: 80px;
  height: 80px;
  line-height: 80px;
  background-color: #f7f9fb;
  border-radius: 50%;
}
.section-contact .contact-box .icon a {
  text-decoration: none;
}
.section-contact .contact-box .icon a i {
  vertical-align: middle;
}
.section-contact .contact-box .icon-content {
  margin-left: 105px;
}
.section-contact .contact-box .icon-content h5 {
  color: #232323;
  font-family: "Montserrat",sans-serif;
}
.section-contact .contact-box .icon-content p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #6f6f6f;
}

.contact-form .btn {
  width: 100%;
}

section {
  overflow: hidden;
}
section .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 20px;
  cursor: pointer;
  font-size: 50px;
  background-color: gray;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  outline: none;
}
section .owl-carousel .owl-nav .owl-prev span {
  font-weight: 100;
  color: #fff;
  text-align: center;
  position: relative;
  bottom: 5px;
}
section .owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  right: 20px;
  cursor: pointer;
  cursor: pointer;
  font-size: 50px;
  background-color: gray;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  outline: none;
}
section .owl-carousel .owl-nav .owl-next span {
  font-weight: 100;
  color: #fff;
  text-align: center;
  position: relative;
  bottom: 5px;
}

.section-index {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}
.section-index .image {
  width: 350px;
}

.slinder-text {
  position: absolute;
  top: 35%;
}
.slinder-text h2 {
  font-size: 50px;
}
.slinder-text p {
  width: 50%;
}

.section-slinder {
  position: relative;
  background-attachment: fixed;
  background-image: url("../img/slide1.jpg");
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
}
.section-slinder .Doctor .owl-dots {
  display: inline-block;
  margin-bottom: 40px;
}
.section-slinder .Doctor .owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin: 0px 10px;
}
.section-slinder .Doctor .owl-dots .owl-dot:hover {
  background: grey;
}
.section-slinder .Doctor .owl-dots .active {
  border: 2px solid #fff;
}
.section-slinder .Doctor .owl-dots .active:hover {
  background: transparent;
}
.section-slinder .image {
  position: relative;
  left: 45%;
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  border-radius: 50%;
}
.section-slinder .image img {
  width: 100%;
  border-radius: 50%;
  height: 100%;
}
.section-slinder .icon {
  position: relative;
  color: #fff;
  border-radius: 50%;
  background: #00a4ef;
  width: 36px;
  line-height: 36px;
  height: 36px;
  text-align: center;
  bottom: 50px;
  font-size: 16px;
  left: 45%;
}

.lasted-blog .Blog {
  position: relative;
}
.lasted-blog .Blog .owl-dots {
  display: inline-block;
  margin-bottom: 40px;
}
.lasted-blog .Blog .owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  border: 1px solid #b0b0b0;
  border-radius: 50%;
  margin: 0px 10px;
  outline: none;
}
.lasted-blog .Blog .owl-dots .owl-dot:hover {
  background: grey;
}
.lasted-blog .Blog .owl-dots .active {
  border: 2px solid #00a4ef;
}
.lasted-blog .Blog .owl-dots .active:hover {
  background: transparent;
}
.lasted-blog .image img {
  overflow: hidden;
  width: 100%;
  height: auto;
  transition: transform 0.4s ease;
}
.lasted-blog .image img:hover {
  transform: scale(1.01);
}
.lasted-blog a {
  font-weight: normal;
}
.lasted-blog .blog-info {
  padding: 20px;
  border: 1px solid #ebebeb;
}
.lasted-blog .blog-info .blog-date {
  position: absolute;
  top: 0px;
  background: #00a4ef;
  display: inline-grid;
  text-transform: uppercase;
  color: white;
}
.lasted-blog .blog-info .blog-date .hr {
  border-bottom: 1px solid #fff;
  width: 60%;
  margin: 3px 7px 0px;
}
.lasted-blog .blog-info .blog-date strong {
  font-size: 10px;
  padding: 10px 5px 5px;
  position: relative;
}
.lasted-blog .blog-info .blog-date span {
  padding: 5px 5px 10px;
  font-size: 16px;
}
.lasted-blog .blog-info .blog-auther {
  color: #6f6f6f;
  opacity: 0.8;
  font-weight: 500;
  display: inline-block;
  padding: 0;
  font-size: 13px;
}
.lasted-blog .blog-info .blog-auther i {
  margin: 0 5px;
}
.lasted-blog .blog-info .blog-auther a {
  color: #6f6f6f;
}
.lasted-blog .blog-info .blog-commit {
  color: #6f6f6f;
  opacity: 0.8;
  font-weight: 500;
  display: inline-block;
  padding: 0;
  font-size: 13px;
}
.lasted-blog .blog-info .blog-commit i {
  margin: 0 5px;
}
.lasted-blog .blog-info .blog-commit a {
  color: #6f6f6f;
}
.lasted-blog .blog-text p {
  margin: 0;
  line-height: 24px;
}
.lasted-blog .blog-link a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  display: inline-block;
  font-weight: 400;
  padding: 3px 5px;
  transition: 0.5s;
}
.lasted-blog .blog-link a:hover {
  color: #000;
  transition: 0.5s;
}
.lasted-blog .ow-post-tags {
  border-top: 2px solid #E9E9E9;
  padding-top: 10px;
}
.lasted-blog .ow-post-tags a {
  border: 1px solid #ebebeb;
  padding: 2px 8px 1px;
  color: #777;
  margin: 0 3px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 9px;
  transition: 0.5s;
}
.lasted-blog .ow-post-tags a:hover {
  transition: 0.5s;
  color: #0098A6;
  border: 1px solid #0098A6;
}

.section-team .all {
  margin: 0;
  padding: 0px;
  transition: 0.5s;
  margin: 0 0 10px 0;
}
.section-team .all .image a img {
  max-width: 100%;
}
.section-team .all .image ul {
  background-color: #1EA1F3;
  margin-bottom: 0px;
  position: absolute;
  max-width: 100%;
  padding: 20px 0;
  opacity: 0;
  bottom: 0;
  height: 80px;
  transition: 0.5s;
}
.section-team .all .image ul li {
  display: inline-block;
}
.section-team .all .image ul li a {
  text-decoration: none;
}
.section-team .all .image ul li a i {
  font-size: 16px;
  padding: 5px 10px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0px 6px;
}
.section-team .all .image-text {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: #f7f9fb;
}
.section-team .all .image-text h5 a {
  text-decoration: none;
  color: #333333;
  transition: 0.5s;
}
.section-team .all .image-text h5 a:hover {
  color: #00a4ef;
  transition: 0.5s;
}
.section-team .all:hover img {
  filter: grayscale(100%);
  transition: 0.5;
}
.section-team .all:hover ul {
  width: 100%;
  transition: 0.5s;
  opacity: 0.3;
  opacity: 1;
  transition: 0.5;
}

@media only screen and (max-width: 994px) {
  .header_list .active_ul {
    position: fixed;
    display: block !important;
    top: 85px;
    right: 0;
    left: 0;
    background: #fff;
    width: 100%;
    display: block;
  }
  .header_list .active_ul li {
    width: 100%;
    display: block;
    float: none;
  }
  .header_list .active_ul li a {
    padding: 0px 15px;
    border-top: 1px solid #E9E9E9;
    display: block;
    font-size: 15px;
    text-align: left;
    background-color: transparent;
  }
  .header_list .active_ul li a:hover {
    text-decoration: none;
    background-color: grey;
  }
  .header_list .open_ul {
    display: block;
  }
  .header_list .open_ul li {
    display: inline-block;
  }
  .header_list .open_ul li a {
    text-decoration: none;
    color: #b0b0b0;
    background-color: transparent;
    font-size: 15px;
    padding: 0px 15px;
    font-family: Regular Arial;
    display: block;
    transition: all 0.5s ease-in-out;
  }
  .header_list .open_ul li a:hover {
    text-decoration: none;
    color: #00a4ef;
    background-color: #f0f0f0;
  }
  .header_list .icon-nav {
    display: block;
    position: absolute;
    right: 0px;
    top: 6px;
  }
  .header_list .icon-nav .click_btn {
    text-decoration: none;
    outline: none;
    color: #fff;
  }
}
.blog-area .blog_info {
  padding: 30px 0;
  text-align: right;
}
.blog-area .blog_info .blog_meta {
  padding: 30px 0;
}
.blog-area .blog_info .blog_meta li {
  display: inline-block;
}
.blog-area .blog_info .blog_meta li a {
  color: #777777;
  vertical-align: middle;
  padding-bottom: 12px;
  display: inline-block;
}
.blog-area .blog_info .blog_meta li a:hover {
  transition: 0.5s;
  color: #007bff;
}
.blog-area .blog_info .blog_meta li a i {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  padding-left: 15px;
  line-height: 20px;
  vertical-align: middle;
}
.blog-area .blog_info .social-links {
  padding: 10px 0;
}
.blog-area .blog_info .social-links li {
  display: inline-block;
  margin-bottom: 10px;
}
.blog-area .blog_info .social-links li a {
  transition: 0.5s;
  color: #cccccc;
  padding: 7px;
  font-size: 14px;
  transition: all 0.2s linear;
}
.blog-area .blog_info .social-links li a:hover {
  transition: 0.5s;
  color: #000;
}
.blog-area .blog_details h2 {
  transition: 0.5s;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  font-weight: 600;
  transition: all 0.3s linear;
}
.blog-area .blog_details h2:hover {
  transition: 0.5s;
  color: #007bff;
}
.blog-area aside .post_item {
  margin-top: 20px;
}
.blog-area aside .post_item .media-body a h3 {
  line-height: 20px;
  color: #000000;
  font-size: 18px;
  margin-bottom: 4px;
  transition: all 0.3s linear;
}
.blog-area aside .post_item .media-body a:hover {
  color: #007bff;
  transition: 0.5s;
}
.blog-area aside .sosial-icon a {
  color: #000;
  transition: 0.5s;
}
.blog-area aside .sosial-icon a:hover {
  color: #007bff;
  transition: 0.5s;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
* a {
  text-decoration: none;
}
* a:hover {
  text-decoration: none;
}

.header {
  padding: 3px 0;
  height: 30px;
}
.header .icons {
  display: inline-block;
}
.header .icons ul li {
  display: inline-block;
}
.header .icons ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}
.header .icons ul li a i {
  margin: 0px 15px;
}
.header .icons ul li .facebook:hover {
  color: #3B5998;
  transition: 0.5s;
}
.header .icons ul li .google:hover {
  color: #DE4E43;
  transition: 0.5s;
}
.header .icons ul li .twitter:hover {
  color: #1EA1F3;
  transition: 0.5s;
}
.header .icons ul li .instagram:hover {
  color: #DE4E43;
  transition: 0.5s;
}
.header .icons ul li .linkedin:hover {
  color: #00a4ef;
  transition: 0.5s;
}
.header .icons ul li .youtube:hover {
  color: #CE201F;
  transition: 0.5s;
}

nav {
  border: none;
  position: sticky;
  top: 0px;
  z-index: 4;
  overflow-x: hidden;
  overflow-y: hidden;
}
nav .nav-wrapper {
  position: relative;
  z-index: 10;
}
nav .nav-wrapper a {
  padding: 0px 24px;
}
nav .nav-wrapper ul li {
  text-transform: uppercase;
}
nav .nav-wrapper ul li a {
  display: block;
  text-decoration: none;
  color: #555555;
  background-color: transparent;
}
nav .nav-wrapper ul li a:hover {
  color: #00a4ef;
  transition: 0.5s;
}

.section-page {
  position: relative;
  background-image: url("../img/bg1.jpg");
  height: 300px;
  background-size: cover;
  background-position: center center;
  display: table;
  width: 100%;
  text-align: left;
  overflow-x: hidden;
  overflow-y: hidden;
}
.section-page p a {
  color: #fff;
  text-decoration: none;
}

.color-team {
  position: absolute;
  top: 0;
  padding: 70px 0;
  text-align: center;
  max-width: 100%;
  height: 100%;
  background-color: rgba(36, 73, 93, 0.9);
}

.FixedActionBtn .share {
  position: fixed;
  right: 94%;
  bottom: 140px;
  padding-top: 15px;
  left: 20px;
  margin-bottom: 0;
  z-index: 997;
}
.FixedActionBtn .headset {
  position: fixed;
  left: 20px;
  bottom: 80px;
  z-index: 997;
  background: -webkit-linear-gradient(45deg, #1ebbf0 8%, #39dfaa 100%);
  border-radius: 50%;
  width: 55px;
  line-height: 55px;
  height: 55px;
  transition: 0.3s;
  padding: 5px 12px;
}
.FixedActionBtn .headset a {
  color: #fff;
  text-decoration: none;
}
.FixedActionBtn .headset span {
  color: #fff;
  font-size: 22px;
  margin: 0px 19px;
  opacity: 0;
  transition: 0.3s;
  text-transform: uppercase;
}
.FixedActionBtn .headset:hover {
  width: 210px;
  border-radius: 22px;
  outline: none;
  transition: 0.3s;
  color: #fff;
  text-decoration: none;
}
.FixedActionBtn .headset:hover span {
  transition: 0.3s;
  opacity: 1;
}
.FixedActionBtn .Buy {
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 997;
  background: linear-gradient(to bottom, #A3D179 0%, #88BA46 100%);
  border-radius: 50%;
  width: 55px;
  line-height: 55px;
  height: 55px;
  transition: 0.3s;
  color: #fff;
  padding: 5px 12px;
}
.FixedActionBtn .Buy a {
  color: #fff;
  text-decoration: none;
}
.FixedActionBtn .Buy span {
  color: #fff;
  font-size: 22px;
  margin: -13px 19px;
  opacity: 0;
  transition: 0.3s;
  text-transform: uppercase;
}
.FixedActionBtn .Buy:hover {
  text-decoration: none;
  width: 210px;
  border-radius: 22px;
  outline: none;
  color: #fff;
  transition: 0.3s;
}
.FixedActionBtn .Buy:hover span {
  transition: 0.3s;
  opacity: 1;
}

.section-team-title h2 {
  text-transform: uppercase;
  color: #042938;
  font-size: 35px;
  font-weight: 700;
}
.section-team-title p {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  color: #494949;
  font-size: 15px;
  line-height: 24px;
}

.section-team-pic .pic .image {
  margin: 0;
  padding: 0px;
  transition: 0.5s;
}
.section-team-pic .pic .image a img {
  width: 100%;
  height: auto;
}
.section-team-pic .pic .image ul {
  background-color: #1EA1F3;
  margin-bottom: 0px;
  position: absolute;
  max-width: 100%;
  padding: 20px 0;
  opacity: 0;
  bottom: 0;
  height: 80px;
  transition: 0.5s;
}
.section-team-pic .pic .image ul li {
  display: inline-block;
}
.section-team-pic .pic .image ul li a {
  text-decoration: none;
}
.section-team-pic .pic .image ul li a i {
  font-size: 16px;
  padding: 5px 10px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0px 6px;
}
.section-team-pic .pic .image-text {
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: #f7f9fb;
}
.section-team-pic .pic .image-text h5 a {
  text-decoration: none;
  color: #333333;
  transition: 0.5s;
}
.section-team-pic .pic .image-text h5 a:hover {
  color: #00a4ef;
  transition: 0.5s;
}
.section-team-pic .pic:hover img {
  filter: grayscale(100%);
  transition: 0.5;
}
.section-team-pic .pic:hover ul {
  width: 90%;
  transition: 0.5s;
  opacity: 0.3;
  bottom: 60px;
  opacity: 1;
  transition: 0.5;
}

.section-blog .blog {
  padding: 40px 0;
}
.section-blog .blog i {
  font-size: 45px;
  padding: 0px 0px 25px;
}
.section-blog .blog p {
  margin: 20px 42px;
}

.footer-section {
  background: #fdfdfd;
}
.footer-section ul li {
  display: inline-block;
  padding: 0px 10px;
}
.footer-section .title .dlab-separator {
  display: inline-block;
  height: 2px;
  width: 80px;
  margin-bottom: 10px;
  position: relative;
}
.footer-section .widget-post .post {
  margin-bottom: 10px;
  display: inline-flex;
}
.footer-section .widget-post .post .post-image {
  display: table-cell;
  vertical-align: middle;
  padding-right: 15px;
  width: 110px;
}
.footer-section .widget-post .post .post-image img {
  width: 100%;
  height: auto;
}
.footer-section .widget-post .post .post-info .post-header {
  padding: 0 2px;
}
.footer-section .widget-post .post .post-info .post-header .post-title {
  line-height: 16px;
  margin-bottom: 8px;
  margin-top: 0;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 500;
}
.footer-section .widget-post .post .post-info .post-header .post-title a {
  text-decoration: none;
  color: #404040;
}
.footer-section .widget-post .post .post-info .post-meta ul li {
  padding: 0;
  display: inline-block;
  color: #707070;
  font-weight: 500;
  font-size: 13px;
}
.footer-section .widget-post .post .post-info .post-meta ul li i {
  color: #707070;
  margin: 0 5px;
  vertical-align: middle;
  font-size: 15px;
  font-weight: 500;
}
.footer-section .list ul li {
  padding: 8px 0px;
  width: 100%;
  border-bottom: 1px dashed rgba(102, 102, 102, 0.3);
}
.footer-section .list ul li a {
  text-decoration: none;
  padding: 0px 10px;
  color: #000;
}
.footer-section .contact-us ul li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 40px;
}
.footer-section .contact-us ul li i {
  float: left;
  margin: 5px 0 0 -30px;
  font-size: 20px;
}
.footer-section .contact-us ul li strong {
  display: block;
  font-weight: 400;
  text-transform: uppercase;
}

#topBtn {
  position: fixed;
  bottom: 20px;
  right: 40px;
  font-size: 22px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 15;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
