@import '_Services.scss';
@import '_About.scss';
@import '_Appointment.scss';
@import '_Contact.scss';
@import '_Index.scss';
@import'_Blog-single.scss';
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;


    a {
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }
}


.header {

    padding: 3px 0;
    height: 30px;

    .icons {
        display: inline-block;

        ul {
            li {
                display: inline-block;

                a {
                    text-decoration: none;
                    color: #fff;
                    font-weight: 400;

                    i {
                        margin: 0px 15px;
                    }

                }

                .facebook:hover {
                    color: #3B5998;
                    transition: 0.5s;
                }

                .google:hover {
                    color: #DE4E43;
                    transition: 0.5s;
                }

                .twitter:hover {
                    color: #1EA1F3;
                    transition: 0.5s;
                }

                .instagram:hover {
                    color: #DE4E43;
                    transition: 0.5s;
                }

                .linkedin:hover {
                    color: #00a4ef;
                    transition: 0.5s;
                }

                .youtube:hover {
                    color: #CE201F;
                    transition: 0.5s;
                }


            }
        }
    }
}


nav {
    border: none;
    position: sticky;
    top: 0px;
    z-index: 4;
    overflow-x: hidden;
    overflow-y: hidden;

    .nav-wrapper {
        position: relative;
        z-index: 10;

        a {
            padding: 0px 24px;
        }

        ul {


            li {
                text-transform: uppercase;

                a {
                    display: block;
                    text-decoration: none;
                    color: #555555;
                    background-color: transparent;

                    &:hover {
                        color: #00a4ef;
                        transition: 0.5s;
                    }
                }
            }
        }


    }

}





// Slinder
.section-page {
    position: relative;
    background-image: url("../img/bg1.jpg");
    height: 300px;
    background-size: cover;
    background-position: center center;
    display: table;
    width: 100%;
    text-align: left;
    overflow-x: hidden;
    overflow-y: hidden;

    p {
        a {
            color: #fff;
            text-decoration: none;
        }
    }
}

//Spesial
.color-team {
    position: absolute;
    top: 0;
    padding: 70px 0;
    text-align: center;
    max-width: 100%;
    height: 100%;
    background-color: rgba(36, 73, 93, 0.9);
}



//FloatingActionButton
.FixedActionBtn {

    .share {
        position: fixed;
        right: 94%;
        bottom: 140px;
        padding-top: 15px;
        left: 20px;
        margin-bottom: 0;
        z-index: 997;
    }

    .headset {
        position: fixed;
        left: 20px;
        bottom: 80px;
        z-index: 997;
        background: -webkit-linear-gradient(45deg, #1ebbf0 8%, #39dfaa 100%);
        border-radius: 50%;
        width: 55px;
        line-height: 55px;
        height: 55px;
        transition: 0.3s;
        padding: 5px 12px;

        a {
            color: #fff;
            text-decoration: none;
        }

        span {
            color: #fff;
            font-size: 22px;
            margin: 0px 19px;
            opacity: 0;
            transition: 0.3s;
            text-transform: uppercase;
        }

        &:hover {
            width: 210px;
            border-radius: 22px;
            outline: none;
            transition: 0.3s;
            color: #fff;
            text-decoration: none;

            span {
                transition: 0.3s;
                opacity: 1;
            }
        }
    }

    .Buy {
        position: fixed;
        left: 20px;
        bottom: 20px;
        z-index: 997;
        background: linear-gradient(to bottom, #A3D179 0%, #88BA46 100%);
        border-radius: 50%;
        width: 55px;
        line-height: 55px;
        height: 55px;
        transition: 0.3s;
        color: #fff;
        padding: 5px 12px;

        a {
            color: #fff;
            text-decoration: none;
        }

        span {
            color: #fff;
            font-size: 22px;
            margin: -13px 19px;
            opacity: 0;
            transition: 0.3s;
            text-transform: uppercase;

        }

        &:hover {
            text-decoration: none;
            width: 210px;
            border-radius: 22px;
            outline: none;
            color: #fff;
            transition: 0.3s;

            span {
                transition: 0.3s;
                opacity: 1;
            }
        }



    }
}



.section-team-title {
    h2 {
        text-transform: uppercase;
        color: #042938;
        font-size: 35px;
        font-weight: 700;
    }

    p {
        margin-left: auto;
        margin-right: auto;
        max-width: 700px;
        color: #494949;
        font-size: 15px;
        line-height: 24px;
    }
}

.section-team-pic {
    .pic {
        
        .image {
            margin: 0;
            padding: 0px;
            transition: 0.5s;
            a {
                img {
                    width: 100%;
                      height: auto;
                }
            }

            ul {
                background-color: #1EA1F3;
                margin-bottom: 0px;
                position: absolute;
                max-width: 100%;
                padding: 20px 0;
                opacity: 0;
                bottom: 0;
                height: 80px;
                transition: 0.5s;

                li {

                    display: inline-block;

                    a {
                        text-decoration: none;

                        i {
                            font-size: 16px;
                            padding: 5px 10px;
                            color: #ffffff;
                            border: 1px solid rgba(255, 255, 255, 0.2);
                            margin: 0px 6px;
                        }
                    }


                }



            }
        }



        .image-text {
            position: relative;
            z-index: 1;
            width: 100%;
            background-color: #f7f9fb;

            h5 {

                a {
                    text-decoration: none;
                    color: #333333;
                    transition: 0.5s;

                    &:hover {
                        color: #00a4ef;
                        transition: 0.5s;
                    }
                }
            }
        }

        &:hover {
            img {
                filter: grayscale(100%);
                transition: 0.5;
            }

            ul {
                width: 90%;
                transition: 0.5s;
                opacity: 0.3;
                bottom: 60px;
                opacity: 1;
                transition: 0.5;

            }

        }
    }

}



.section-blog {
    .blog {
        padding: 40px 0;

        i {
            font-size: 45px;
            padding: 0px 0px 25px;
        }

        p {
            margin: 20px 42px;
        }
    }
}


.footer-section {
    background: #fdfdfd;

    ul {
        li {
            display: inline-block;
            padding: 0px 10px;
        }
    }

    .title {

        .dlab-separator {
            display: inline-block;
            height: 2px;
            width: 80px;
            margin-bottom: 10px;
            position: relative;
        }
    }

    .widget-post {


        .post {
            margin-bottom: 10px;
            display: inline-flex;

            .post-image {
                display: table-cell;
                vertical-align: middle;
                padding-right: 15px;
                width: 110px;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .post-info {
                .post-header {
                    padding: 0 2px;

                    .post-title {
                        line-height: 16px;
                        margin-bottom: 8px;
                        margin-top: 0;
                        text-transform: capitalize;
                        font-size: 15px;

                        font-weight: 500;

                        a {
                            text-decoration: none;
                            color: #404040;

                        }
                    }
                }

                .post-meta {
                    ul {
                        li {
                            padding: 0;
                            display: inline-block;
                            color: #707070;
                            font-weight: 500;
                            font-size: 13px;

                            i {
                                color: #707070;
                                margin: 0 5px;
                                vertical-align: middle;
                                font-size: 15px;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }

    .list {
        ul {
            li {
                padding: 8px 0px;
                width: 100%;
                border-bottom: 1px dashed rgba(102, 102, 102, 0.3);

                a {
                    text-decoration: none;
                    padding: 0px 10px;
                    color: #000;
                }
            }
        }
    }

    .contact-us {
        ul {
            li {
                margin-bottom: 10px;
                position: relative;
                padding-left: 40px;

                i {
                    float: left;
                    margin: 5px 0 0 -30px;
                    font-size: 20px;
                }

                strong {
                    display: block;
                    font-weight: 400;
                    text-transform: uppercase;
                }
            }
        }
    }


}


#topBtn {
    position: fixed;
    bottom: 20px;
    right: 40px;
    font-size: 22px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 15;
    cursor: pointer;
    // display: none;
}